[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
selenium = "*"
bs4 = "*"

[dev-packages]
neovim-remote = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
